<!DOCTYPE html>
<html>
<head>
	<title>
		Cool3D
	</title>
	<meta name="keywords" content="3D modely, 3D tisk, 3D , 3D tisk sociální síť, reprap, fabrication STL, soubory k 3D tisku, gcode, open source, obj" />	
	<meta name="description" content="Cool3d.cz je stránka pro milovníky 3D tisku. Můžeš zde stahovat či sdílet 3D modely k vytisknutí nebo se podívat na novinky a lekce ze světa 3D tisku" />
	<meta property="og:image" content="http://www.bld3r.com/img/bld3r_cover.png" />		
	<link type="text/css" rel="stylesheet" href="/css/nsfw.css" />
	{% include "scripts.html" %}
	<style>
	* {
		margin:0px;
		font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
		//border:solid #999 1px;
	}
	* a{
		text-decoration: none;
		color:#0077cc;
	}

	* a:visited{
		color:#4a6b82;
	}
	.header3 {
		margin:0px;
		padding-top: 3px;
		//border-bottom: 1px #999 solid;
		vertical-align: top;
		color:#4a6b82;		
	}
	.header3 a {
		text-decoration: none;
		color:#4a6b82;
		vertical-align: top;
	}	
	</style>	
</head>

<body>
	{% include "header3.html" %}
	<span class="loader" style="position:fixed;left:50%;top:50%;">
		<img src="/img/loader.gif" />
	</span>
	<div id="masonry_division">
		{% for object in the_dict %}
			{% include "masonry_for_front.html" %}
		{% endfor %}
	</div>
	<br style="clear:both;">
	<hr>
	<div style="text-align:center;">
		<a href="/?cursor={{cursor}}">
			Další stránka
		</a>
	</div>
</body>
</html>