<!DOCTYPE html>
<html>
<head>
	<title>
		Cool3D | Polička souborů k vytisknutí
	</title>
	<meta name="keywords" content="3D modely, 3D tisk, 3D , 3D tisk sociální síť, reprap, fabrication STL, soubory k 3D tisku, gcode, open source, obj" />	
	<meta name="description" content="Cool3d.cz je stránka pro milovníky 3D tisku. Můžeš zde stahovat či sdílet 3D modely k vytisknutí nebo se podívat na novinky a lekce ze světa 3D tisku" />
	<meta property="og:image" content="http://www.bld3r.com/img/bld3r_cover.png" />		
	{% include "scripts.html" %}

	<style>
		* {
			margin:0px;
			font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
			//border:solid #999 1px;
			text-align: left;
		}
		* a{
			text-decoration: none;
			color:#0077cc;
		}

		* a:visited{
			color:#4a6b82;
		}

		.top {
			float:left;
		}
		.top * {
			float:left;
			font-size: 40px;
			font-weight: bold;
			max-width: 800px;
			margin-left: 15px;
		}	

		.to_print {
			float:left;
			width:45%;
		}
		.has_printed {
			float:right;
			width:45%;
		}
	</style>
</head>

<body>
	{% include "header3.html" %}
	<div class="backspace"style="
			width:100%;
			">
		<div class="center_container" style="
				width:1100px;   
				display: block;
		  		margin-left: auto;
		  		margin-right: auto;
		  		text-align:center;
		  		">
		  		
			{% if the_user.deleted == False %}
				<div class="top" style="width:1000px;  margin-top:20px; text-align:left;">
					
					<img src="/img/print_shelf_large.png" width="100px" height="auto"/>
					<div style="width:700px; height:100px;">	
						{{the_user.username}} 's
						<br>														
							Polička souborů k vytisknutí
					</div>									
				</div>		  	
				<div style="padding-top:10px;clear:both;">
					<hr>
				</div>
				<br>				

				<div class="{{the_user.key().id()}}" id="printshelf_id" style="display:none;">
				</div>
				<div class="to_print">
					K tisknutí
					<hr>
					<br>
					{% if to_print_list_exists %}
						<div class="to_print_empty">
						</div>
						<div class="to_print_list">
							{% for obj in to_print_obj_list %}
								<div class="to_print_obj_{{obj.key().id()}}">
									<span class="obj_data_{{obj.key().id()}}">
										<a href="/obj/{{obj.key().id()}}">
											{{obj.title}}
										</a>
									</span>
									{% if visitor_is_user %}
										<span class="edit_box{{obj.key().id()}}">
											<span class="{{obj.key().id()}}" id="printshelf_edit_to_print_toggle" style="cursor:pointer;color:#999;">
												#
											</span>
											<div class="printshelf_edit_{{obj.key().id()}}" style="display:none;color:#999;">
												<br>
												<span class="printshelf_edit_button_{{obj.key().id()}}" style="cursor:pointer;">
													Upravit
												</span>
												&nbsp;
												<span class="printshelf_remove_{{obj.key().id()}}" style="cursor:pointer;">
													Odstranit
												</span>
											</div>
											<div class="move_to_has_printed_{{obj.key().id()}}" style="display:none;">
												<br>
												<span class="move_check_{{obj.key().id()}}" style="cursor:pointer;color:red;">
													Přesunout do vytisknutých
												</span>
												&nbsp;
												&nbsp;
												<span class="cancel_check_{{obj.key().id()}}" style="cursor:pointer;">
													Zrušit
												</span>
											</div>
											<div class="remove_check{{obj.key().id()}}" style="display:none;">
												<br>
												Jste si jistý, že chcete vymazat {{obj.title}}?
												<br>
												<br>
												<span class="yes_remove{{obj.key().id()}}" style="cursor:pointer;color:red;">
													Ano
												</span>
												&nbsp;
												&nbsp;
												<span class="cancel_remove{{obj.key().id()}}" style="cursor:pointer;">
													Zrušit
												</span>
											</div>
										</span>
									{% endif %}
								</div>
								<br>
							{% endfor %}
						</div>
					{% else %}	
						<div class="to_print_empty">
							Žádný soubor.
						</div>
						<div class="to_print_list">
						</div>
					{% endif %}	
				</div>
				<div class="has_printed">
					Vytisknuto.
					<hr>
					<br>
					<div class="return_to_rate" style="color:red;display:none;">
						Věnujte svůj čas ohodnocení tohoto objektu.
					</div>
					{% if has_printed_list_exists %}
						<div class="has_printed_empty">
						</div>
						<div class="has_printed_list">
							{% for obj in has_printed_obj_list %}
								<div class="printed_obj_{{obj.key().id()}}">
									<span class="obj_data_{{obj.key().id()}}">
										<a href="/obj/{{obj.key().id()}}">
											{{obj.title}}
										</a>
									</span>
									{% if visitor_is_user %}
										<span class="edit_box{{obj.key().id()}}">
											<span class="{{obj.key().id()}}" id="printshelf_edit_has_printed_toggle" style="cursor:pointer;color:#999;">
												#
											</span>
											<div class="printshelf_edit_{{obj.key().id()}}" style="display:none;color:#999;">
												<br>
												<span class="printshelf_edit_button_{{obj.key().id()}}" style="cursor:pointer;">
													Upravit
												</span>
												&nbsp;
												<span class="printshelf_remove_{{obj.key().id()}}" style="cursor:pointer;">
													Odstranit
												</span>
											</div>
											<div class="move_to_has_printed_{{obj.key().id()}}" style="display:none;">
												<br>
												<span class="move_check_{{obj.key().id()}}" style="cursor:pointer;color:red;">
													Přesunout do seznamu "K vytisknutí" 
												</span>
												&nbsp;
												&nbsp;
												<span class="cancel_check_{{obj.key().id()}}" style="cursor:pointer;">
													Zrušit
												</span>
											</div>
											<div class="remove_check{{obj.key().id()}}" style="display:none;">
												<br>
												Jste si jistý, že chcete vymazat {{obj.title}}?
												<br>
												<br>
												<span class="yes_remove{{obj.key().id()}}" style="cursor:pointer;color:red;">
													Ano
												</span>
												&nbsp;
												&nbsp;
												<span class="cancel_remove{{obj.key().id()}}" style="cursor:pointer;">
													Zrušit
												</span>
											</div>
										</span>
									{% endif %}
								</div>
								<br>
							{% endfor %}
						</div>
					{% else %}	
						<div class="has_printed_empty">
							Žádný soubor.
						</div>
						<div class="has_printed_list">
						</div>
					{% endif %}	
				</div>
			{% else %}
				Uživatel neexistuje.
			{% endif %}
		</div>
	</div>
</body>
</html>
